<p><%%= t('janus.mailer.hello') %><p>

<p><%%= t('janus.mailer.confirmation_instructions.confirm') %></p>

<p><%%= link_to t('janus.mailer.confirmation_instructions.confirm_my_account'),
  <%= singular_name %>_confirmation_url(@<%= class_name %>.confirmation_key => @<%= singular_name %>.confirmation_token) %></p>

