<p><%= t('janus.mailer.hello') %><p>

<p><%= t('janus.mailer.reset_password_instructions.infos') %></p>

<p><%= link_to t('janus.mailer.reset_password_instructions.change_password_link'),
  edit_user_password_url(:token => @user.reset_password_token) %></p>

<p><%= t('janus.mailer.reset_password_instructions.please_ignore_your_password_wont_change') %></p>

