<p><%= t('janus.mailer.hello') %><p>

<p><%= t('janus.mailer.confirmation_instructions.confirm') %></p>

<p><%= link_to t('janus.mailer.confirmation_instructions.confirm_my_account'),
  user_confirmation_url(@user.class.confirmation_key => @user.confirmation_token) %></p>

